<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>multi_data_picker</title>
    <link rel="stylesheet" href="Multi_data_picker.css">
    <script src="base-data.js" charset="utf-8"></script>
</head>
<body>
    <input type="text" id="selector" value="北京" readonly>
    <input type="hidden" id="hidden_selector" value="1001">
    <span>设置可选城市上限：</span><input type="text" class="set_limit_num">
    <p class="tips">注：下次设置请重新刷新页面，设置完成点击城市名称</p>
    <script type="text/javascript">
        /**
         * [multi_data_picker description]
         * @param       {[Selector ID]} trigger_selector [触发元素ID，通过value赋值] <input type="text"/>
         * @param       {[Selector ID]} hidden_selector  [隐藏元素ID，通过value赋值] <input type="hidden"/>
         * @param       {[String]} separator   [分隔符]，如["+", ",", ":"]
         * @param       {[Array]} data   [输入JSON对象数据]
         * @param       {[Number]} select_num_limit   [选中数据的最大值]
         * @constructor
         */
        function Multi_data_picker(trigger_selector, hidden_selector, separator, data, select_num_limit){
            // 存储一级数据id对应的二级选中数字 {1001: 1, 2001:1, 3001:3}
            this._level_one_to_selectedNum = {};
            // 存储一级数据id对应一级数据dom元素 {1001: DOM1, 2001: DOM2, 3001: DOM3}
            this._level_one_id_to_dom = {};
            // 存储选中元素id对应的dom数据索引，通过_get_selected_dom()方法获取 {1001: DOMS1, 2001: DOMS2, 3001: DOMS3}
            this._selected_dom_obj = {};

            this.trigger_selector = trigger_selector;
            this.hidden_selector = hidden_selector;

            this.separator = separator;
            // 选择器value数组，隐藏于value数组
            this.selector_value = document.getElementById(trigger_selector).value.split(this.separator) || [];
            this.hidden_value = document.getElementById(hidden_selector).value.split(this.separator) || [];

            this.init_data = data || []; // 全局JSON对象数据
            // 最多选中数据，默认无上限
            this.select_num_limit = select_num_limit || Number.MAX_SAFE_INTEGER;
            // 一级数据数组，快速查找使用
            this._data_level_one = (function(){
                if(data.length === 0){
                    return [];
                }else{
                    return data.map(function(value, index){
                        return value.id;
                    });
                }
            })();
            if(document.querySelectorAll(".multi-picker").length === 0){
              // 初始化组件
              this.init(this.selector_value, this.hidden_value);
            }else{
              this.show();
            }

        }
        Multi_data_picker.prototype = {
            constructor: Multi_data_picker,
            /**
             * [组件初始化入口方法：1.DOM加载 2.事件绑定] 
             */
            init: function(selector_value, hidden_value){
                // DOM模版加载
                var el = '<section class="multi-picker">\
                                  <section class="multi-label">\
                                    <section class="picker-selected">\
                                        <label class="label-for">已选中城市：</label>\
                                        <section class="selected"></section>\
                                        <span class="submit">确定</span>\
                                    </section>\
                                  </section>\
                                  <section class="picker-container">\
                                      <ul class="data-level-one"></ul>\
                                      <ul class="data-level-two"></ul>\
                                  </section>\
                              </section>';
                this._append("body", el, false);
                // document.body.innerHTML = this._init_domTree();
                this._init_domTree(selector_value, hidden_value); // 暂时执行_init_selected_tree
                // 事件绑定
                this._bindEvent();
            },
            /**
             * [DOM初始化：1.选中数据 2.一级数据初始化]
             */
            _init_domTree: function(selector_value, hidden_value){
                // 初始化选中数据dom tree
                selector_value.length === 0 ? "" : this._init_selected_tree(selector_value, hidden_value);
                // 初始化一级数据dom tree
                hidden_value.length === 0 ? "" : this._init_level_one_data(selector_value, hidden_value);
            },
            /**
             * [选中数据初始化]
             */
            _init_selected_tree:function(selector_value, hidden_value){
                var selected_template =  "";
                // 利用selector_value和hidden_value对应关系初始化selected_template
                selector_value.forEach(function(value, index){
                    selected_template += '<span class="selected-item" data-id="'+ this[index] +'">'+ value +'</span>';
                }, hidden_value);
                // return selected_template;
                this._append(".selected", selected_template, true);
            },
            /**
             * [一级数据初始化]
             */
            _init_level_one_data: function(selector_value, hidden_value){
                var _this = this;
                var FIRST_LEVEL_ONE_ELEMENT = document.querySelector(".data-level-one");
                var level_one_template = "";
                // 初始化_level_one_to_selectedNum对象数据
                hidden_value.forEach(function(value, index){
                    // 取前四位数字
                    var level_one_to_selected_key = value.slice(0, 4);
                    // 判断是否一级数据key已经存在
                    if(level_one_to_selected_key in _this._level_one_to_selectedNum){
                        _this._level_one_to_selectedNum[level_one_to_selected_key] ++;
                    }else{
                        _this._level_one_to_selectedNum[level_one_to_selected_key] = 1;
                    }
                });
                /**
                 * [构建一级数据dom tree]
                 */
                this.init_data.forEach(function(value, index){
                    if(value.id in _this._level_one_to_selectedNum){
                        level_one_template += '<li class="level-one" data-id="'+ value.id +'">'+ value.name +'<span>'+ _this._level_one_to_selectedNum[value.id] +'</span></li>';
                    }else{
                        level_one_template += '<li class="level-one" data-id="'+ value.id +'">'+ value.name +'<span></span></li>';
                    }
                });
                this._append(".data-level-one", level_one_template, true);
                // 增加一级第一条数据checked状态 new idea?
                document.querySelector(".level-one").classList.add("checked");
                /**
                 * _level_one_id_to_dom初始化
                 */
                [].forEach.call(document.querySelectorAll(".level-one"), function(value, index){
                    _this._level_one_id_to_dom[value.getAttribute("data-id")] = value;
                });
                // 初始化二级数据，同时确定一级数据中第一个是否选中
                FIRST_LEVEL_ONE_ELEMENT.querySelector(".level-one").getAttribute("data-id") in this._level_one_to_selectedNum ?
                this._init_level_two_data(0, [FIRST_LEVEL_ONE_ELEMENT.querySelector(".level-one").getAttribute("data-id")]):
                this._init_level_two_data();
            },
            /**
             * [初始化二级数据]
             * @param  {[Number]} _level_two_init_data_index [一级数据的索引值]
             * @param  {[Array]} checked_item_array [选中二级数据数组，默认为空]
             */
            _init_level_two_data: function(_level_two_init_data_index, checked_item_array){
                // 默认值设置
                _level_two_init_data_index = _level_two_init_data_index || 0;
                checked_item_array = checked_item_array || [];
                // 二级数据模版
                var level_two_template = "";
                // 如果没有选中值直接初始化数据，否则遍历二级数据初始化
                if(checked_item_array.length === 0){
                    this.init_data[_level_two_init_data_index].items.forEach(function(value, index){
                        level_two_template += '<li class="level-two" data-id="'+ value.id +'">'+ value.name +'</li>';
                    });
                }else{
                    // 判断是否已经点击“全部”
                    if(checked_item_array.indexOf(this._data_level_one[_level_two_init_data_index] + "") !== -1){
                      this.init_data[_level_two_init_data_index].items.forEach(function(value, index){
                        if(index === 0){
                          level_two_template += '<li class="level-two checked" data-id="'+ value.id +'">'+ value.name +'</li>'
                        }else{
                          level_two_template += '<li class="level-two disabled" data-id="'+ value.id +'">'+ value.name +'</li>'
                        }
                      });
                    }else{
                      this.init_data[_level_two_init_data_index].items.forEach(function(value, index){
                        if(checked_item_array.indexOf(value.id + "") !== -1){
                            level_two_template += '<li class="level-two checked" data-id="'+ value.id +'">'+ value.name +'</li>'
                        }else{
                            level_two_template += '<li class="level-two" data-id="'+ value.id +'">'+ value.name +'</li>';
                        }
                      });
                    }
                }

                this._append(".data-level-two", level_two_template, true);
            },
            /**
             * [事件绑定：1.一级数据事件 2.二级数据事件 3.选中数据事件 4.确定提交]
             */
            _bindEvent: function(){
                var _this = this;
                var current_index_id = this._data_level_one[0]; // 当前一级数据当前索引，通过该索引提前判断以及数据是否被激活, 默认为一级第一条数据id

                document.body.addEventListener("click", function (event) {
                    var dataId = event.target.getAttribute("data-id");
                    // 1. 一级数据事件：通过判断当前是否激活决定点击效果
                    if(event.target.classList.contains("level-one")){
                        if(dataId === current_index_id){ return ; }
                        else{
                            // 更新一级checked状态
                            _this._level_one_id_to_dom[current_index_id].classList.remove("checked");
                            event.target.classList.add("checked");
                            current_index_id = dataId;
                            // {[level_two_isCheck]}  一级数据有标识二级数据有选中的元素，通过一级数据后面的数字判断 => true 有二级数据选中 || false 没有二级数据选中
                            var level_two_isCheck = event.target.querySelector("span").textContent === "" ? false : true;
                            // 通过_data_level_one查找data中对应的二级数据，初始化二级数据
                            var _level_two_init_data_index = _this._data_level_one.indexOf(parseInt(dataId)); // 点击一级数据索引

                            if(level_two_isCheck){
                                // 获取一级数据对应的选中二级数据
                                var checked_item_array = _this._get_selected_data().selected_id.filter(function(value, index){
                                    return value.slice(0, 4) === dataId;
                                });
                                // 初始化二级数据
                                _this._init_level_two_data(_level_two_init_data_index, checked_item_array);
                            }else{
                                _this._init_level_two_data(_level_two_init_data_index);
                            }

                        }
                        // 获取选中数据
                    }else if(event.target.classList.contains("disabled")){ return ; }
                    // 2. 二级数据事件：通过是否有checked决定处理方法
                    else if(event.target.classList.contains("level-two")){
                        var dataName = event.target.textContent;

                        // 判断当前元素是否选中
                        if(event.target.classList.contains("checked")){

                             // 更新选中城市
                            _this._rerender_selected_data("delete", dataId);

                            // 区分是否是选中“全部二级数据”
                            if(dataId.length === 4){
                                _this._level_two_toggleClass("unlock");
                            }

                            event.target.className = "level-two";
                        }else{
                            // 更新选中城市
                            if(_this._rerender_selected_data("add", dataId, dataName) === false){
                                return false;
                            }

                            // 区分是否是选中“全部二级数据”
                            if(dataId.length === 4){
                                _this._level_two_toggleClass("lock");
                            }
                            event.target.className = "level-two checked";
                        }
                    // 3.选中数据事件：点击直接删除
                    }else if(event.target.classList.contains("selected-item")){
                        // 更新选中元素
                        _this._rerender_selected_data("delete", dataId);
                        // 是否是当前打开页面的二级数据，如果是的化需单独处理
                        if(dataId.slice(0, 4) === current_index_id){
                          // 更新二级数据状态
                          [].forEach.call(document.querySelectorAll(".level-two"), function(value, index){
                            if(value.getAttribute("data-id") === dataId){
                              value.className = "level-two";
                            }
                          });
                          if(dataId.length === 4){
                              _this._level_two_toggleClass("unlock");
                          }
                        }
                    // 4. 确定提交：提交数据
                    }else if(event.target.classList.contains("submit")){
                        _this._set_submit_data(_this._get_selected_data().selected_id, _this._get_selected_data().selected_name);
                        // 默认隐藏，如果需要可以destory
                        _this.hide();
                    }
                });
            },
            /**
             * [控制lock和unlock状态]
             * @param  {[String]} type     [类型"lock"二级数据可点击 || "unlock"二级数据不可点击]
             */
            _level_two_toggleClass: function(type){
                switch (type) {
                    case "lock":
                        [].forEach.call(document.querySelectorAll(".level-two"), function(value, index){
                            // 排除第一个
                            if(index !== 0){
                                value.className = "level-two disabled";
                            }
                        });
                        break;
                    case "unlock":
                        [].forEach.call(document.querySelectorAll(".level-two"), function(value, index){
                            // 排除第一个
                            if(index !== 0){
                                value.className = "level-two";
                            }
                        });
                        break;
                    default: break;
                }
            },
            /**
             * [动态更新选中数据]
             * @param  {[String]} type   [更新数据方式，delete是删除，add是增加]
             * @param  {[Number]} dataId   [二级数据id]
             * @param  {[String]} dataName [二级数据文字描述，如果type为delete，不需要dataName]
             */
            _rerender_selected_data: function(type, dataId, dataName){
                var _this = this;
                switch (type) {
                    case "delete":
                        // 删除选中数据
                        this._delete_selected_element(dataId, "delete");
                        // 更新左侧一级数据对应选中数据
                        if(dataId.length === 4){
                            _this._update_level_one_num("all", dataId, "delete");
                        }else{
                            _this._update_level_one_num("one", dataId.slice(0, 4), "delete");
                        }
                        break;
                    case "add":
                        // 更新二级选中数据disabled
                        if(dataId.length === 4){
                            // 判断删除操作
                            this._get_selected_data().selected_id.filter(function(value, index){
                                return value.slice(0, 4) === dataId && value.length === 7;
                            }).forEach(function(value, index){
                                _this._delete_selected_element(value);
                                _this._update_level_one_num("one", value, "delete");
                            });
                        }
                        // 设置点击上限值
                        if(_this._get_selected_data().selected_id.length == _this.select_num_limit){
                            alert("选择以达到最大值：" + _this.select_num_limit);
                            return false;
                        }
                        // 增加选中数据
                        this._add_selected_element(dataId, dataName);
                        // 更新左侧一级数据对应选中数据
                        var updateType = dataId.length === 4 ? "all" : "one";
                        this._update_level_one_num(updateType, dataId, "add");
                        break;
                    default: break;
                }
            },
            /**
             * [添加选中元素dom]
             */
            _add_selected_element: function(dataId, dataName){
                var element = document.createElement("span");
                element.className = "selected-item";
                element.setAttribute("data-id", dataId);
                element.textContent = dataName;

                document.querySelector(".selected").appendChild(element);
            },
            /**
             * [删除选中元素]
             */
            _delete_selected_element: function(dataId){
                var _this = this;
                var selectedDOM = this._get_selected_dom();
                document.querySelector(".selected").removeChild(selectedDOM[dataId]);
            },
            /**
             * [更新一级数据选中数字]
             * @param  {[String]} type [如果是一级全部数据为all, 普通二级数据为one]
             * @param  {[Number]} elementid_to_level_one_dom [删除的二级数据对应的一级数据的dom元素]
             * @param  {[String]} type [更新的类型是删除还是添加：add || delete]
             */
            _update_level_one_num: function(type, elementid_to_level_one_dom, add_or_delete){
                switch (type) {
                    case "all":
                        if(add_or_delete === "add"){
                            this._level_one_id_to_dom[elementid_to_level_one_dom].querySelector("span").textContent = 1;
                            // 同时更新_level_one_to_selectedNum
                            this._level_one_to_selectedNum[elementid_to_level_one_dom] = 1;
                        }else{
                            this._level_one_id_to_dom[elementid_to_level_one_dom].querySelector("span").textContent = "";
                            // 同时更新_level_one_to_selectedNum
                            this._level_one_to_selectedNum[elementid_to_level_one_dom] = 0;
                        }
                        break;
                    case "one":
                        if(add_or_delete === "add"){
                            // 判断之前该二级数据对应的一级数据是否存在_level_one_to_selectedNum对象中，如果不存在更新
                            if(!(elementid_to_level_one_dom.slice(0, 4) in this._level_one_to_selectedNum)){
                                this._level_one_to_selectedNum[elementid_to_level_one_dom.slice(0, 4)] = 0;
                            }
                            this._level_one_id_to_dom[elementid_to_level_one_dom.slice(0, 4)].querySelector("span").textContent =  this._level_one_to_selectedNum[elementid_to_level_one_dom.slice(0, 4)] + 1;
                            // 同时更新_level_one_to_selectedNum
                            this._level_one_to_selectedNum[elementid_to_level_one_dom.slice(0, 4)] ++;
                        }else{
                            this._level_one_id_to_dom[elementid_to_level_one_dom.slice(0, 4)].querySelector("span").textContent =  this._level_one_to_selectedNum[elementid_to_level_one_dom.slice(0, 4)] - 1 || "";
                            // 同时更新_level_one_to_selectedNum
                            this._level_one_to_selectedNum[elementid_to_level_one_dom.slice(0, 4)] --;
                        }
                        break;
                    default: break;
                }
            },
            /**
             * [获取已经选中数据]
             * @return data-id 组成的数组
             */
            _get_selected_data: function(){
                var selected_id = [];
                var selected_name = [];
                [].forEach.call(document.querySelectorAll(".selected-item"), function(value, index){
                    selected_id.push(value.getAttribute("data-id"));
                    selected_name.push(value.textContent);
                });
                return { selected_id: selected_id, selected_name: selected_name };
            },
            /**
             * [获取选中元素的dom]
             * @return {[Object]} [元素dataId对应的dom对象]
             */
            _get_selected_dom: function(){
                var _this = this;
                [].forEach.call(document.querySelectorAll(".selected-item"), function(value, index){
                    _this._selected_dom_obj[value.getAttribute("data-id")] = value;
                });
                return _this._selected_dom_obj;
            },
            /**
             * [设置提交数据]
             * @param  {[Array]} dataId_array   [选中数据id数组]
             * @param  {[Array]} dataName_array [选中数据name数组]
             */
            _set_submit_data: function(dataId_array, dataName_array){
                document.getElementById(this.hidden_selector).value = dataId_array.join(this.separator);
                document.getElementById(this.trigger_selector).value = dataName_array.join(this.separator);
            },
            show: function(){
                document.querySelector(".multi-picker").style.display = "block";
            },
            hide: function(){
                document.querySelector(".multi-picker").style.display = "none";
            },
            destory: function(){
                document.body.removeChild(document.querySelector(".multi-picker"));
            },
            /**
             * 如果子元素是字符串类型，默认实现非删除添加
             * @param  {[Selector]} _parent [父元素选择器]
             * @param  {[String]} _child  [子元素字符串]
             * @param  {[Boolean]} _delete_all  [默认false，非删除直接添加，true，删除所有子元素添加]
             */
            _append: function(_parent, _child, _delete_all){
              // typeof _child === "string" ? ;
              if(_delete_all === true){
                document.querySelector(_parent).innerHTML = _child;
              }else{
                document.querySelector(_parent).innerHTML += _child;
              }
            }
        }
        // selector
        document.addEventListener("click", function(event){
          if(event.target.id == "selector"){
            var l_m = document.querySelector(".set_limit_num").value || 3;
            new Multi_data_picker("selector", "hidden_selector", ",", city, l_m);
          }
        }, false);
    </script>
</body>
</html>
