* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.downslide-list {
  background-color: #fff;
  border: 1px solid #ddd;
  display: none;
  position: absolute;
}
.downslide-list > li {
  color: #666;
  cursor: pointer;
  font-size: 14px;
  line-height: 30px;
  list-style: none;
  text-indent: 10px;
}
.downslide-list > li:hover {
  background-color: #7cbf59;
  color: #fff;
}
.downslide-list .selected {
  background-color: #7cbf59;
  color: #fff;
}
